/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.cursor {
  cursor: pointer;
}

.container {
  margin-left: 16pX;
  margin-right: 16px;
}