<h1 mat-dialog-title>Create vehicle</h1>
<div mat-dialog-content>
  <form class="form" [formGroup]="vehicleForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="mark" formControlName="mark">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="model" formControlName="model">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="relase date" formControlName="relase_date">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="licence plate" formControlName="licence_plate">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="created at" formControlName="created_at">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button cdkFocusInitial  (click)="save()">Ok</button> <!-- [disabled]="vehicleForm.invalid" -->
</div>

